/* Fonts: Montserrat 500, 700; Fraunces 700 */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

/* Colors */
$very-dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);
$dark-cyan: hsl(158, 36%, 37%);
$very-dark-cyan: hsl(158, 42%, 18%);
$cream: hsl(30, 38%, 92%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $cream;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: $dark-grayish-blue;
    line-height: 1.5rem;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-container {
    background-color: $white;
    display: flex;
    overflow: hidden;
    @media screen and (max-width: 650px) {
        max-width: 375px;
        flex-direction: column;
    }
    @media screen and (min-width: 651px) {
         max-width: 650px;
         flex-direction: row;
    }
    max-height: 100vh;
    margin: 15px;
    border-radius: 10px;
}

.perfume-image {
    @media screen and (max-width: 650px) {
        width: 100%;
    }
    @media screen and (min-width: 651px) {
        content: url(./images/image-product-desktop.jpg);
        width: 50%;
    }
}

/* This contains all the textual content */
.content {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
}

/* This contains the 2 titles and switches their order for visual preference */
.titles {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 1rem;
}

/* Textual content */
.perfume-name {
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    font-weight: 700;
    color: $very-dark-blue;
    line-height: 2rem;
}

.perfume-subtitle {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8rem;
    letter-spacing: 4px;
}

.prices {
    display: flex;
    gap: 1rem;
}

.reduced-price {
    font-family: 'Fraunces', serif;
    color: $dark-cyan;
    font-size: 2rem;
}

.original-price {
    text-decoration: line-through;
    font-size: 0.8rem;
    vertical-align: top;
}

.cart-button {
    background-color: $dark-cyan;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;

    &:hover {
        background-color: $very-dark-cyan;
        cursor: pointer;
    }
}